<?xml version="1.0" ?>
<launch>

<arg name="robot_ip" default="172.16.0.2" />
<arg name="load_gripper" default="true" />

<rosparam file= "$(find robot_control_VS)/param/parameters_VS.yaml" command= "load"/>

<!-- <include file="$(dirname)/franka_demo.launch" /> -->
<include file="$(dirname)/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
</include>
<include file="$(dirname)/camera_calibration.launch" />

<include file="$(find franka_control_wrappers)/launch/cartesian_velocity_controller.launch">
    <arg name="stopped" value="true" />
</include>

<node name="publish_realsense" pkg="robot_control_VS"  type="publish_realsense"  output="screen"/>


<node name="DCT_VS" pkg="robot_control_VS"  type="franka_control_DCT_VS"  output="screen"/>

<!-- <node name="rosbag_record" pkg="robot_control_VS"  type="rosbag_record"  output="screen"/> -->

<!-- <node pkg="rosbag" type="record" name="bag_record" args="/camera/color/image_raw -o /home/cyh/Work/visual_servoing_ws/src/visual_servoing/image_process/resource/data/DCT_VS.bag"/> -->

</launch>