<?xml version="1.0" ?>
<launch>

<arg name="robot_ip" default="172.16.0.2" />
<arg name="load_gripper" default="true" />

<include file="$(dirname)/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
</include>
<!-- <include file="$(dirname)/franka_demo.launch" /> -->
<include file="$(dirname)/camera_franka_calibration.launch" />

<include file="$(find franka_control_wrappers)/launch/cartesian_velocity_controller.launch">
    <arg name="stopped" value="true" />
</include>

<node name="franka_control_keyboard" pkg="robot_control_VS"  type="franka_control_keyboard"  output="screen"/>

</launch>