<?xml version="1.0" ?>
<launch>

<include file="$(dirname)/camera_ur_calibration.launch" />



<include file="$(find cartesian_controllers_ur_robots)/launch/ur5_robot.launch" />
<!-- <include file="$(dirname)/ur_demo.launch" />  -->
 
<node name="ur_control_keyboard" pkg="robot_control_VS"  type="ur_control_keyboard"  output="screen"/>

</launch>