<?xml version="1.0" ?>
<launch>
 
<include file="$(find panda_moveit_config)/launch/franka_control.launch" />

<rosparam command="load" file="$(find franka_moveit_control)/config/franka_moveit_control.yaml" subst_value="true" />

<node name="marker_pose_cyh" pkg="franka_moveit_control"  type="franka_moveit_control"  output="screen"/>

<node name="track_marker_cyh" pkg="franka_moveit_control"  type="marker_target_pose"  output="screen" />

</launch>