<?xml version="1.0" ?>
<launch>

<!-- <include file="$(dirname)/franka_demo.launch" /> -->
<include file="$(dirname)/franka_control.launch" />
<include file="$(dirname)/camera_calibration.launch" />

<node name="save_pose_image" pkg="franka_control_VS"  type="save_pose_image"  output="screen"/>

</launch>