<?xml version="1.0" ?>
<launch>

<include file="$(dirname)/franka_demo.launch" />
<!-- <include file="$(find panda_moveit_config)/launch/franka_control.launch" /> -->
<include file="$(dirname)/camera_calibration.launch" />

<!-- <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">
    <arg name="enable_fisheye"              value="false"/>
    <arg name="enable_infra1"               value="false"/>
    <arg name="enable_infra2"               value="false"/>
    <arg name="enable_gyro"                 value="false"/>
    <arg name="enable_accel"                value="false"/>
    <arg name="color_width"                 value="320"/>
    <arg name="color_height"                value="240"/>
    <arg name="depth_width"                 value="320"/>
    <arg name="depth_height"                value="240"/>
    <arg name="filters"                     value="hole_filling"/>
</include> -->

<node name="save_pose_image" pkg="franka_control_VS"  type="save_pose_image"  output="screen"/>

</launch>